<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConfirmAlert</title>
    <link rel="stylesheet" href="ConfirmNumber.css">
</head>

<body>
    <div class="full-screen-background">
        <div class="confirm-number-frame">
            <p class="confirm-number-frame__number-text">
                На указанный номер отправлен код, введите его ниже:
            </p>
            <form class="confirm-number-frame__form">
                <input type="number" id="i1" maxlength="1" size="1" class="confirm-number-frame__form__input">
                <input type="number" id="i3" maxlength="1" size="1" class="confirm-number-frame__form__input">
                <input type="number" id="i2" maxlength="1" size="1" class="confirm-number-frame__form__input">
                <input type="number" id="i4" maxlength="1" size="1" class="confirm-number-frame__form__input">

                <!-- <svg class="confirm-number-frame__form__underline" width="427" height="2" viewBox="0 0 427 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="1" x2="84.0536" y2="1" stroke="black" />
                    <line x1="114.027" y1="1" x2="198.08" y2="1" stroke="black" />
                    <line x1="228.054" y1="1" x2="312.107" y2="1" stroke="black" />
                    <line x1="342.08" y1="1" x2="426.134" y2="1" stroke="black" />
                </svg> -->

                <button class="confirm-number-frame__button-done">Готово</button>
            </form>

        </div>
    </div>
</body>

</html>