<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConfirmAlert</title>
    <link rel="stylesheet" href="ConfirmMessage.css">
</head>

<body>
    <div class="full-screen-background">
        <div class="confirm-message-frame">
            <p class="confirm-message-frame__message-text">
                Вы действительно хотите сохранить изменения?
            </p>
            <form class="confirm-message-frame__form">
                <button  class="confirm-message-frame__button-yes">Да</button>
                <button class="confirm-message-frame__button-no">Нет</button>
            </form>

        </div>
    </div>
</body>

</html>