<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuccessAlert</title>
    <link rel="stylesheet" href="SuccessMessage.css">
</head>

<body>
    <div class="full-screen-background">
        <div class="error-message-frame">         
            <p class="error-message-frame__message-text">
                Изменения успешно сохранены!
            </p>
            <form class="error-message-frame__form">
                <button class="error-message-frame__button-ok">ОК</button>
            </form>

        </div>
    </div>
</body>

</html>