@font-face {
  font-family: 'Loew Next';
  src: url("../fonts/LoewNext-Regular.woff2"),
    url("../fonts/LoewNext-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px rgba(246, 246, 246, 1) !important; /* Цвет фона */
  -webkit-text-fill-color:#000000 !important; /* цвет текста */
  color: #999 !important; /* цвет текста */
}


.light-hover {
  transition: all 0.5s ease;
  cursor: pointer;
}

.light-hover:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  transition: all 0.5s ease;
}

.light-hover:active {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: all 0.1s ease;
}

body {
  font-family: 'Loew Next', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0 !important
}

body {
  -ms-overflow-style: none;
}

body {
  overflow: -moz-scrollbars-none;
}

.invalid {
  color: red;
  /* поменять */
}


.logo {
  display: flex;
  justify-content: flex-start;
  padding: 42px 30px 211px 30px;
}


.edit__card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 30px 0 30px;

}

.edit__card__employee__avatar {
  margin-top: -202px;
  margin-bottom: 68px;
}

.edit__card__wrap {
  flex-basis: 100%;
  height: 0;
}


.edit__card__employee {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 35px; */
  width: 308px;
  /* background: rgba(243, 243, 243, 1); */
  background-color: #E2E2E2;

  box-shadow: 2px -4px 10px rgba(0, 0, 0, 0.15), -2px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 35px;
  padding: 30px 21px 29px 22px;
}


.edit__card__employee__account {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.edit__card__employee__account-text {
  min-width: 265px;
  min-height: 27px;
  border: none;
  border-bottom: 1px solid #000000;
  font-family: 'Loew Next', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  margin-top: 0;
}


.text-edit__card {
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.edit__card__employee__numbers__telephone-number {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 278px;
  height: 51px;
  margin-bottom: 25px;
  background: rgba(219, 219, 219, 1);
  border-radius: 60px;
  border: none;

}

.edit__telephone-number-text {
  border: none;
  background: transparent;
  text-decoration: none;
  outline: none;
  margin-left: 16px;
  margin-top: 10px;
  margin-bottom: 14px;
  padding: 0;
  font-family: 'Loew Next', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;

}

.edit__card__employee__account__admin-olny-form {
  display: flex;
  justify-content: center;
}

.edit__card__employee__account-admin-only-form {
  display: none;
}

.edit__admin-only-input {
  background: transparent;
  text-decoration: none;
  outline: none;
}

.edit__admin-only-input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.edit__admin-only-input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.edit__admin-only-input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.edit__admin-only-input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.edit__admin-only-input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.edit__admin-only-input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.edit__admin-only-input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.edit__admin-only-input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}







.edit__telephone-number-text::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.edit__telephone-number-text::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.edit__telephone-number-text:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.edit__telephone-number-text:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.edit__telephone-number-text:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.edit__telephone-number-text:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.edit__telephone-number-text:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.edit__telephone-number-text:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}




.edit__delete-number__minus {
  width: 35px;
  height: 35px;
  border-radius: 60px;
  margin-top: 8px;
  margin-right: 19px;
  margin-bottom: 8px;
}


.edit__card__employee__numbers {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.edit__card__employee__numbers__add-number {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-number__plus {
  width: 35px;
  height: 35px;
}



.edit__card__employee__numbers__button-save {
  outline: none;
  margin-top: 67px;
  margin-bottom: -127px;
  padding: 15px 40px;
  width: 194px;
  height: 60px;
  border: none;
  background: rgba(227, 6, 19, 1);
  border-radius: 60px;

  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  transition: all 0.5s ease;
}

.edit__card__employee__numbers__button-save:hover {
  background-color: #ff0011;

  transition: all 0.5s ease;
}

.edit__card__employee__numbers__button-save:active {
  background-color: #ffffff;
  /* color: #000000; */
  color: #E30613;
  transition: all 0.1s ease;
  /* opacity: 1;
  filter: alpha(opacity=100);
  transition: all 0.5s ease; */
}

.edit__card__employee__account__button-exit-mobile {
  outline: none;
  /* margin-top: 100px; */
  display: flex;
  margin-top: 147px;
  margin-bottom: -190px;
  width: 149px;
  height: 60px;
  padding: 15px 40px;
  background-color: rgba(227, 6, 19, 0);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 60px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.edit__card__employee__account__button-exit {
  outline: none;
  margin-top: 349px;
  margin-bottom: -409px;
  width: 149px;
  height: 60px;
  padding: 15px 40px;
  background-color: rgba(227, 6, 19, 0);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 60px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  display: none;
  transition: all 0.5s ease;
}

.edit__card__employee__account-admin-only__button-save:hover,
.edit__card__employee__account__button-exit:hover {
  background-color: #e4e4e4b9;
  border-color: #dbdbdb00;
  transition: all 0.5s ease;
}

.edit__card__employee__account-admin-only__button-save:active,
.edit__card__employee__account__button-exit:active {
  border-color: #dbdbdb00;
  background-color: #ffffff;
  transition: all 0.1s ease;
}

.edit__card__employee__account-admin-only__button-save {
  outline: none;
  width: 149px;
  height: 60px;
  padding: 15px;
  text-align: center;
  background-color: rgba(227, 6, 19, 0);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 60px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  display: none;
}














.edit__card__employee__table-link {
  display: none;
}





.input__error-message {
  margin-top: -20px;
  text-align: center;
  align-self: stretch;
  color: red;
  font-family: Loew Next;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}

.input__number-error-message {
  margin: 0;
  position: absolute;
  top: 55px;
  left: 0;
  text-align: center;
  width: 100%;
  color: red;
  font-family: Loew Next;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
}






.input__number-error-message {
  top: 55px;
  left: 50px;
  text-align: left;
  font-size: 10px;

}

.logo {
  padding-top: 60px;
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);
  padding-bottom: 50px;
}

.edit__card {
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);
  margin-bottom: 132px;
}

.edit__card__employee {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1770px;
  padding: 52px 80px 53px 80px;
  background-image: url("../img/Ellipse\ 5.png");
  background-size: 708px 890.5px;
  background-repeat: no-repeat;
  background-position-x: right;
}


.edit__card__employee__account {
  margin-top: -99px;
  padding-bottom: 0;
  width: 481px;
  min-height: 663px;
  background: #F5F5F5;
  border-radius: 60px;
  order: 2;
  margin-left: 65px;
}

.edit__card__employee__avatar {
  margin-top: 47px;
  margin-bottom: 35px;
}

.edit__card__employee__account__button-exit {
  margin-top: 20px;
  margin-bottom: 47px;
  display: block;
}

.edit__card__employee__account__button-exit-mobile {

  display: none;

}

.edit__card__employee__account-text {
  font-size: 20px;
  line-height: 30px;
  min-width: 401px;
  min-height: 27px;
  padding-left: 11px;

}

.edit__card__employee__table-link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  text-decoration: none;
  width: 449px;
  height: 35px;
  margin-bottom: 64px;
}

.edit__card__employee__table-link__link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  text-decoration: none;
  width: 159px;
  height: 35px;
}

.edit__card__employee__table-link-text {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  color: #000000;

}

.edit__left-arrow {
  width: 34px;
  height: 35px;
  margin-right: 15px;
}

.edit__card__employee__numbers__telephone-number {
  min-width: 449px;
  min-height: 80px;
  margin-bottom: 35px;
  background: rgba(255, 255, 255, 0.7);

}

.edit__delete-number__minus {
  width: 38px;
  height: 38px;
  margin-top: 21px;
  margin-left: 17px;
  margin-bottom: 21px;
}

.edit__telephone-number-text {
  font-size: 20px;
  line-height: 30px;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.edit__card__employee__numbers {
  width: 449px;
}

.add-number__plus {
  width: 38px;
  height: 38px;
}

.edit__card__employee__numbers__button-save {
  margin-top: 50px;
  margin-bottom: 71px;
}


.edit__card__employee__account__user-account-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.edit__card__employee__account-admin-only__button-save {
  display: block;
  margin-top: 20px;
  margin-bottom: 47px;
}

.edit__card__employee__account-admin-only-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.full-screen-background {
  /* position: fixed !important; */
  position: absolute !important;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
 
  /* min-height: 999px; */
  min-height: 1137px;
  margin: 0;
  padding:  0;

  /* min-height: 100%; */

 
 
  width: 100%;
  
  background: rgba(216, 216, 216, 0.71); 
}

.edit__card__employee{
      width: 1010px  !important;
     min-height: 662px !important;
}

edit_user {
  position: absolute;  
  left: 135px !important;
  top: 147px !important;
  padding-top: 147px !important;
  z-index: 102;
}